
.wrapper {
    padding: 4px 8px;
}

.table {
    width: 100%;
    table-layout: auto;
}

.tHeader {
    position: relative;
    padding: 8px 0;
    background: #4e5969;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: "苹方-简";
    text-align: center;
}
.tHeaderPercent {
    position: absolute;
    right: 22px;
    bottom: 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: "苹方-简";
    text-align: justify;
    line-height: 16px;
}

.table td {
    border: 1px solid #C9CDD4;
}

.table tr td:last-child {
    width: 100%;
}

.tableThemeTitle {
    /*width: 30px;*/
    padding: 0 7px;
    /*writing-mode: vertical-lr;*/
    color: #1d2129;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: PingFangSC-Medium;
    text-align: center;
    line-height: 26px;
    white-space: pre;
    /*letter-spacing: 6px;*/
}
.tablePlateTitle {
    /*width: 50px;*/
    padding: 0 5px;
    /*writing-mode: vertical-lr;*/
    color: #1d2129;
    white-space: pre;
    font-size: 16px;
    font-weight: 600;
    font-family: PingFangSC-Medium;
    text-align: center;
    line-height: 26px;
}
.tablePlateTitleWrapper {
    position: relative;
}
.tablePlateTitlePercent {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    /*color: #d02a00;*/
    font-size: 10px;
    font-weight: 400;
    font-family: "苹方-简";
    text-align: justify;
    line-height: 16px;
}
.tableStockName {
    padding: 0 5px;
    /*writing-mode: vertical-lr;*/
    color: rgb(208, 42, 0);
    font-size: 14px;
    font-weight: 600;
    font-family: PingFangSC-Medium;
    text-align: center;
    line-height: 22px;
    white-space: pre;
    user-select: none;
}
.tableStockDesc {
    padding: 3px;
    /*writing-mode: vertical-lr;*/
    color: #1d2129;
    font-size: 12px;
    font-weight: 400;
    font-family: PingFangSC-Medium;
    text-align: left;
    line-height: 20px;
}

.disclaimers {
    margin-top: 7px;

    color: #86909c;
    font-size: 10px;
    font-weight: 400;
    font-family: PingFangSC-Medium;
    text-align: left;
    line-height: 18px;
}